<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Registrarse GC Autoblog</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.typekit.net/jvs5fzv.css">
    <link rel="stylesheet" type="text/css" href="/estilos/informacion.css">
</head>

<body>
	<nav class="navbar navbar-expand-sm" id="navbarSignin">
		<div class="container-fluid">
			<div class="d-flex align-items-center">
				<a href=""><img src="imgs/LogoBarra.png" alt="LogoBarraNavegacion" /></a>
			</div>
			<div class="navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/informacion">Información</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signin">Iniciar Sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Registrarse</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="title mt-5">
		<h1>Bienvenido a mi Autoblog</h1>
	</div>
	<div class="cita mt-5">
		<p>
			"El automóvil más bello es el que todavía nos queda por hacer". -Enzo Ferrari.
		</p>
	</div>
			<div class="container justify-content-center align-items-center vh-100 mt-2">
				<div class="card w-75 m-auto mt-5">
					<div class="card-header">
						<h2 class="card-title text-center">
							información
						</h2>
					</div>
					<div class="card-body">
						<p class="card-text">¡Hola! Soy Gonzalo Castellino y en "GC" te brindaré un blog dedicado a mantener tu vehículo en excelente estado. Aquí compartiré consejos prácticos, trucos y recomendaciones para asegurarte de que tu automóvil siempre esté en las mejores condiciones. Desde el mantenimiento básico hasta consejos de cuidado especializado, te guiaré para que puedas disfrutar al máximo de tu vehículo.</p>
						<p class="card-text">Únete a nuestra comunidad y descubre cómo mantener tu vehículo en óptimas condiciones con "GC". ¡<a class="nav-link" href="/signin">Inicia sesión</a> o <a class="nav-link" href="/signup">registrate</a> para acceder a contenido exclusivo! Además, ¡no te olvides de dejarnos un comentario! Tu opinión es importante para nosotros.</p>
						<p class="card-text">¡Te esperamos en "GC" para ayudarte a cuidar y disfrutar al máximo de tu automóvil!</p>
                    </div>
				</div>
			</div>
	<footer>
		<p>&copy; Autoblog hecho por Gonzalo Castellino</p>
	</footer>
</body>

</html>