<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Registrarse GC Autoblog</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.typekit.net/jvs5fzv.css">
    <link rel="stylesheet" type="text/css" href="/estilos/signup.css">
</head>

<body>
	<nav class="navbar navbar-expand-sm" id="navbarSignin">
		<div class="container-fluid">
			<div class="d-flex align-items-center">
				<a href=""><img src="imgs/LogoBarra.png" alt="LogoBarraNavegacion" /></a>
			</div>
			<div class="navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/signin">Iniciar Sesión</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Registrarse</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="title mt-5">
		<h1>Bienvenido a mi Autoblog</h1>
	</div>
	<div class="cita mt-5">
		<p>
			“Lo que merece ser hecho, merece que se haga bien”. -Enzo Ferrari
		</p>
	</div>
	<% if (signupMessage.length> 0) { %>
		<div class="alert text-center alert-danger w-50 m-auto">
			<%= signupMessage %>
		</div>
	<% } %>
			<div class="container justify-content-center align-items-center vh-100 mt-2">
				<div class="card w-75 m-auto h-50 mt-5">
					<div class="card-header">
						<h2 class="card-title text-center">
							Registrarse
						</h2>
					</div>
					<div class="card-body">
                        <form action="/signup" method="post">
                          <div class="mb-3">
                            <label for="email" class="form-label mt-3">Ingrese su email</label>
                            <input type="email" name="email" class="form-control" placeholder="Ingrese su email" required />
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label mt-3">Ingrese su contraseña</label>
                            <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required />
                          </div>
                          <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-dark mt-5">
                              Registrarse
                            </button>
                          </div>
                        </form>
                    </div>  
				</div>
			</div>
	<footer>
		<p>&copy; Autoblog hecho por Gonzalo Castellino</p>
	</footer>
</body>

</html>